<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <script src="scripts/vendor/d7100892.modernizr.js"></script>

  <link rel="stylesheet" href="styles/vendor/e40cadc5.bootstrap.css">
  <link rel="stylesheet" href="styles/8c91c6ae.main.css">
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <a class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="navbar-brand" href="#">Patrol Tracker</a>
      <div class="nav-collapse collapse">
        <ul class="nav navbar-nav">
          <li data-ng-class="{ active: isHome }"><a href="#">Home</a></li>
          <li data-ng-class="{ active: isAssignZone}"><a href="#/zone">Assign Zone</a></li>
          <li class="fullHide"><a href="javascript:;" class="fullScreen">Salir Full Screen</a></li>
          <li><a href="javascript:;" class="fullScreen">Full Screen</a></li>
        </ul>
        <form class="navbar-form form-inline pull-right" data-ng-show="isHome">
          <input type="text" placeholder="Buscar" data-ng-model="searchText">
          <button type="submit" class="btn btn-default" data-ng-click="search()">Buscar</button>
        </form>
      </div><!--/.nav-collapse -->
    </div>
  </div>
  <div class="container-fluid" data-ng-view="">
  </div>
  <div id="flashContent"></div>
  <footer class="navbar-fixed-bottom">
    <p>&copy; GlobalLogic 2014</p>
  </footer> <!-- /container -->
  <script data-main="scripts/ab99c267.main" src="bower_components/requirejs/require.js"></script>
  <script type="text/javascript" src="flex/history/history.js"></script>
  <!-- END Browser History required section -->

  <script type="text/javascript" src="flex/swfobject.js"></script>
  <script type="text/javascript">
      	  	function outputStatus(e) {
			//alert("e.success = " + e.success +"\ne.id = "+ e.id +"\ne.ref = "+ e.ref);
		}

	  // For version detection, set to min. required Flash Player version, or 0 (or 0.0.0), for no version detection.
      var swfVersionStr = "11.1.0";
      // To use express install, set to playerProductInstall.swf, otherwise the empty string.
      var xiSwfUrlStr = "flex/playerProductInstall.swf";
      var flashvars = {};
      var params = {};
      params.quality = "high";
      params.bgcolor = "#ffffff";
      params.allowscriptaccess = "sameDomain";
      params.allowfullscreen = "true";
      var attributes = {};
      attributes.id = "History";
      attributes.name = "History";
      attributes.align = "middle";
	  swfobject.createCSS("#flashContent", "display:block;text-align:left;");
      swfobject.embedSWF(
          "flex/History.swf", "flashContent",
          "450", "500",
          swfVersionStr, xiSwfUrlStr,
          flashvars, params, attributes,outputStatus);
      // JavaScript enabled so display the flashContent div in case it is not replaced with a swf object.



		function openMarker(str){
			//TODO: lets show a Marker
				alert(str);
		}

		function setNotification(str) {
			var obj = swfobject.getObjectById("History");
			if (obj && typeof obj.setNotification != "undefined") {
				obj.setNotification(str);
			}
		};

    function showHistory(str) {
      $('#History').addClass('swfVisible');
      var obj = swfobject.getObjectById("History");
      if (obj && typeof obj.showHistory != "undefined") {
        obj.showHistory(str);
      }
    };

  </script>

</body>
</html>