<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:camel="http://camel.apache.org/schema/spring"
	xmlns:jaxws="http://cxf.apache.org/jaxws" xmlns:jaxrs="http://cxf.apache.org/jaxrs"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:mongo="http://www.springframework.org/schema/data/mongo"
	
	xsi:schemaLocation="http://camel.apache.org/schema/spring http://camel.apache.org/schema/spring/camel-spring.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
		http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd
		http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd
		http://www.springframework.org/schema/data/mongo
        http://www.springframework.org/schema/data/mongo/spring-mongo-1.0.xsd"
		>


	<mvc:annotation-driven />

	<context:annotation-config>
	</context:annotation-config>

	<!-- Properties -->	
	<bean id="wsProperties" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:deploy.properties</value>
			</list>
		</property>
	</bean>
	
	<!-- Handlers -->
	<context:component-scan base-package="ar.com.globallogic.promocion.controller" />
	<!-- services -->
	<context:component-scan base-package="ar.com.globallogic.promocion.service" />

	<context:component-scan base-package="ar.com.globallogic.promocion.notifications" />
	<!-- services -->
	<context:component-scan base-package="ar.com.globallogic.promocion.mongo.repository" />

	<context:component-scan base-package="ar.com.globallogic.promocion.mongo.query" />

	<import resource="classpath:dbContext.xml" />	
	
</beans>