/* Set widths on the navbar form inputs since otherwise they're 100% wide */
.navbar-form{
  input[type="text"],
  input[type="password"]{
    width:180px;
  }
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
body > .container-fluid {
  padding: 50px 0 0 0;
}

footer p{
  text-align:center;
}

.nav > li.fullHide{
  display:none;
}

body:-webkit-full-screen .fullScreen{
  display:none;
}
body:-moz-full-screen .fullScreen{
  display:none;
}body:-ms-full-screen .fullScreen{
  display:none;
}body:fullscreen .fullScreen{
  display:none;
}
body:-webkit-full-screen .fullHide,
body:-webkit-full-screen .fullHide > a{
  display:block;
}
body:-moz-full-screen .fullHide,
body:-moz-full-screen .fullHide > a{
  display:block;
}
body:-ms-full-screen .fullHide,
body:-ms-full-screen .fullHide > a{
  display:block;
}
body:fullscreen .fullHide,
body:fullscreen .fullHide > a{
  display:block;
}
body:-webkit-full-screen {
  width: 100% !important;
}
body:-moz-full-screen {
  width: 100% !important;
}
body:-ms-fullscreen {
  width: 100% !important;
}
body:fullscreen {
  width: 100% !important;
}
